* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    position: absolute;
    left: 10%;
    top: 20%;
}

.bg__img {
    background: #000;
    overflow: hidden;
}

.ico-design {
    font-size: 1rem;
    cursor: pointer;
}

.fa-apple {
    font-size: 1.6rem;
    color: gray;
    cursor: pointer;
}
.hg {
    min-height: 100vh;
    height:auto;
}

.font-small {
    font-size: 17px;
}

.font-large {
    font-size: 40px;
}
img
{
    overflow: hidden;
}
.sidebar-div
{
    position: fixed;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(58, 58, 58, 0.89);
    color: white;
    right: -300px;
    transition: all 0.5s linear;
    z-index: 199;

}
.navapp
{
    z-index: 200;
}
.sidebar-div ul
{
    left: 0;
    top: 9%;
}
.sidebar-div ul li
{
    list-style: none;
    margin: 40px;
}
.sidebar-div ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 8px 10px;
    border-radius: 1px;
    background-color: transparent;
}
.sidebar-div ul li a:hover
{
    border-bottom: 2px solid white !important;
    border-top: 2px solid white !important;
    transition: all .2s linear;
}

.fa-search
{
    z-index: 1000;
}
i:hover
{
    color: #fff;
}
.my-btn {
    padding: 5px 18px 7px 18px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: all  0.6s linear;
}

.my-btn span {
    color: #000;
    position: relative;
    z-index: 1;
    transition: color 0.25s cubic-bezier(.7,0,.9,1);
}

.my-btn::before {
    content: '';;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 6px;
    transform: translate(-101%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: transform 0.25s cubic-bezier(.7,0,.9,1);
}

.my-btn:hover span {
    color: #fff;
}

.my-btn:hover::before {
    transform: translate(0, -50%);
}
.selction::selection{
    color:red;
    font-weight: 800;
    background:white;
}
.main_heading::selection{
    color:yellow;
}
.blu::selection{
    color:blue;
}

